<h1 class="title">
  {{title}}
</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <foosball-component></foosball-component>
    </div>
    <div class="col-md-6">
      <table-tennis-component></table-tennis-component>
    </div>
  </div>
</div>

