<div class="panel panel-primary" *ngIf="serviceData.gameInProgress">
  <div class="panel-heading">
    <div class="panel-title">
      <h2 class="text-center" *ngIf="serviceData.gameType === 1">Foosball</h2>
      <h2 class="text-center" *ngIf="serviceData.gameType === 2">Table tennis</h2>
    </div>
  </div>
  <div class="panel-body">
    <h3 class="text-center" style="color:red">GAME IN PROGRESS!</h3>
    <table class="table">
      <tr>
        <td> <h4>TIME PLAYED: </h4></td> <td><h4>{{serviceData.secondsPlayed}}</h4></td>
      </tr>
      <tr>
        <td><h4>MATCH NO: </h4></td> <td><h4>{{serviceData.matchNumber}}</h4></td>
      </tr>
      <tr>
        <td><h4>ETA: </h4></td> <td><h4>{{serviceData.eta}}</h4></td>
      </tr>
    </table>

  </div>
</div>

<div class="panel panel-primary" *ngIf="!serviceData.gameInProgress">
  <div class="panel-heading">
    <div class="panel-title">
      <h2 class="text-center" *ngIf="serviceData.gameType === 1">Foosball</h2>
      <h2 class="text-center" *ngIf="serviceData.gameType === 2">Table tennis</h2>
    </div>
  </div>
  <div class="panel-body">
    <h3 class="text-center" style="color:green">GAME NOT PROGRESS!</h3>
    <table class="table">
      <tr>
        <td> <h4>IDLE TIME: </h4></td> <td><h4>{{serviceData.idleTime}}</h4></td>
      </tr>
    </table>

  </div>
</div>


